.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.c1, .album, .c2, .c3, .tracklist, .info { /*for small screens*/
  width: 100%

}

@media (min-width: 600px) { /*for medium screens*/
  .c1, .c2, .c3{
    width: 40%;
  }
  .album, .tracklist {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  .info {
    width: 40%;
    float: right;
    margin-top: 10px;
    margin-right: 16%;
  }
}

@media (min-width: 800px) { /*for large screens*/
  .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Rozha+One&display=swap');

h1 {
  font-family: 'Rozha One', serif;
  font-size: 100%;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 90%;
  background-color: #9da5f2;
}

ul { /*style for nav bar*/
  list-style-type: none;
  margin: 0;
  padding-bottom: 20px;
}

ul li {
  display: inline;
  padding: 10px;
  float: center;
  color: #f9b9f4;
  font-size: 150%;
}

ul li a, 
ul a :hover, 
ul li a:focus, 
ul li a:active {
  border: none;
  text-decoration: none;
  color: inherit;
}

.c1, .album, .c2, .c3 {
  display:inline-block;
  margin-right: 30px;
}

.tracklist {
  display:inline-block;
  background-color: #e83f2d;
  color: #f9b9f4;
}

.info {
  font-size: 110%;
  background-color: #e7dac8;
  color: #e83f2d;
  text-align: center;
}

.c3 img {
  margin-top: 20px;
}

.img-1 {
  width: 80%;
}

.center-text {
  text-align: center;
}

.purple {
  font-family: 'Oswald', sans-serif;
}

#oval { /*style for logo*/
  background-color: #e7dac8;
  font-family: 'Rozha One', serif;
  height: 150px;
  width: 400px;
  margin: auto;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 300%;
  color: #9da5f2;
  margin-top: 20px;
  margin-bottom: 20px;
}

#page {
  max-width: 940px;
  min-width: 720px;
  margin: auto;
  border: 1px solid red
}

/*
COLORS:
purple #9da5f2
tan #e7dac8
red #e83f2d
pink #f9b9f4
*/