/*I chose to organize my external CSS by element sorting according to Meiert's 2013 blog post.
Everything is sorted into general sections based on what the element/selector affects.
It makes more sense to me to sort the code by what the lines affect.*/

/*Sectioning and Structuring*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap");
body {
	font-family: 'Raleway', sans-serif;
	font-size: 90%;
	color: #666;
	background-color: #FFC8DD;
}
/*Headings*/
h1.center-text {
	font-family: 'Berkshire Swash', serif;
	font-size: 450%;
}
/*Lists*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul li {
	display: inline;
	padding: 10px;
	float: right;
}ul li a, 
ul a :hover, 
ul li a:focus, 
ul li a:active {
	border: none;
	text-decoration: none;
	color: inherit;
}
li {
	list-style-image: url("images/icon-plus.png");
	line-height: 1.6em;
}
/*Media*/
video {
	width: 940px;
}
/*Forms*/
fieldset {
	width: 310px;
	margin-top: 20px;
	border: 1px solid #d6d6d6;
	background-color: #ffffff;
	line-height: 1.6em;
}
legend {
	font-style: italic;
	color: #666666;
}
input[type="text"] {
	width: 120px;
	border: 1px solid #d6d6d6;
	padding: 2px;
	outline: none;
}
input[type="text"]:focus,
input[type="text"]:hover {
	background-color: #d0e2f0;
	border: 1px solid #999999;
}
input[type="submit"] {
	border: 1px solid #006633;
	background-color: #009966;
	color: #ffffff;
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
}
input[type="submit"]:hover {
	border: 1px solid #006633;
	background-color: #00CC33;
	color: #ffffff;
	cursor: pointer;
}
/*Tables*/
table {
	border-spacing: 0px;
}
th, td {
	padding: 5px 30px 5px 10px;
	border-spacing: 0px;
	font-size: 90%;
	margin: 0px;
}
th, td {
	text-align: left;
	background-color: #BDE0FE;
	border-top: 1px solid #A2D2FF;
	border-bottom: 1px solid #A2D2FF;
	border-right: 1px solid #A2D2FF;
}
tr.head th {
	color: #fff;
	background-color: #9668b0;
	border-bottom: 2px solid #547ca0;
	border-right: 1px solid #749abe;
	border-top: 1px solid #90b4d6;
	text-align: center;
	text-shadow: -1px -1px 1px #666666;
	letter-spacing: 0.15em;
}
td {
	text-shadow: 1px 1px 1px #ffffff;
}
tr.even td, tr.even th {
	background-color: #D1E9FF;
}
tr.head th:first-child {
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}
tr.head th:last-child {
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}
/*Attributes*/
.title {
	float: left;
	width: 160px;
	clear: left;
}
.submit {
	width: 310px;
	text-align: right;
}
.center-mid-1{
	width: 940px;
	background-color: #BEB594;
	padding-bottom: 15px;
	padding-top: 5px;
}
.center-mid-2{
	width: 940px;
	background-color: #efeae6;
	padding-bottom: 15px;
	padding-top: 5px;
}
.center-mid-3{
	width: 940px;
	background-color: #dee1e5;
	padding-bottom: 15px;
	padding-top: 5px;
}
.center-2{
	width: 940px;
	margin: auto;
	padding-bottom: 15px;
	padding-top: 5px;
}
.center-3{
	width: 300px;
	margin: 0 0;
}
.img-1{
	margin: auto;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.img-2{
	margin: auto;
	padding-left: 10px;
	width: 30%;
}
.center-text {
	text-align: center;
	padding-top: 30px;
	padding-left: 25px;
	padding-right: 25px;
}
.center-2>h1, .center-2>p {
	text-align: center;
}
.center-mid-3>p {
	padding-left: 25px;
	padding-right: 25px;
}
.footer {
	text-align: center;
	margin: auto;
}
.smlogo{
	padding-left: 10px;
}
}
.menu-holder {
	float: right;
	max-width: 80%;
	position: fixed;
	text-align: center;
	height: 100%;
	background-color: #ffffff;
	right: -100%;
	top: 0;
	transition: right .3s ease;
	width: 100%;
	overflow: auto;
	max-width: 100%;
	z-index: 99;
}    
#fix-1 {
	position: fixed;
	right: 80px;
	bottom: 50px;
	width: 200px;
} 
#fix-2 {
	position: fixed;
	left: 80px;
	bottom: 375px;
	width: 200px;
}
#fix-3 {
	position: fixed;
	right: 80px;
	top: 50px;
	width: 200px;
}
#page {
	max-width: 940px;
	min-width: 720px;
	margin: 10px auto 10px auto;
	border: 4px  #000;
	background-color: #f6f4e8;
	vertical-align: baseline;
}
/* colors
purple CDB4DB
light pink FFC8DD
dark pink FFAFCC
light blue BDE0FE
dark blue A2D2FF
*/